[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest-pythonpath = "*"
pytest = "*"

[packages]
abci = "*"
rlp = "*"
trie = "*"
pynacl = "*"
protobuf = "*"
gevent = "*"
colorlog = "*"
requests = "*"
click = "*"

[requires]
python_version = "3.6"
